<h1>CHILD COMPONENT</h1>
Street:<input type="text" name="newstreet" [(ngModel)]="newstreet"><br><br>
Landmark:<input type="text" name="newlandmark" [(ngModel)]="newlandmark"><br><br>
Village:<input type="text" name="newvillage" [(ngModel)]="newvillage"><br><br>
Mandal:<input type="text" name="newmandal" [(ngModel)]="newmandal"><br><br>
Country:<input type="text" name="country" [(ngModel)]="newcountry"><br><br>
State:<input type="text" name="state" [(ngModel)]="newstate"><br><br>
District:<input type="text" name="district" [(ngModel)]="newdistrict"><br><br>
Pin:<input type="number" name="pin" [(ngModel)]="newpin">
